/* NAVIGATION BUTTONS */
.h5p-theme-nav-button,
.h5p-theme .h5p-theme-nav-button {
  background-color: var(--h5p-theme-secondary-cta-base);
  color: var(--h5p-theme-secondary-contrast-cta);
  font-size: var(--h5p-theme-font-size-s);
  font-weight: bold;
  border-radius: var(--h5p-theme-border-radius-medium);
  display: inline-block;
  padding: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-s);
  border: none;
  transition: all 0.1s linear 0s;
  cursor: pointer;
  white-space: nowrap;
}

.h5p-theme-nav-button[aria-disabled="true"],
.h5p-theme-nav-button:disabled {
  opacity: 0.4;
}

.h5p-theme .h5p-theme-nav-button:hover {
  background-color: var(--h5p-theme-secondary-cta-light);
  color: var(--h5p-theme-secondary-contrast-cta);
  border-color: var(--h5p-theme-secondary-cta-light);;
}

.h5p-theme .h5p-theme-nav-button:active {
  background-color: var(--h5p-theme-secondary-cta-dark);
  color: var(--h5p-theme-secondary-contrast-cta);
  border-color: var(--h5p-theme-secondary-cta-dark);
}

.h5p-theme .h5p-theme-next {
  justify-self: flex-end;
  grid-column: 3;
  min-width: max-content;
}

.h5p-theme-next:after {
  font-family: 'h5p-theme';
  content: "\e901";
  margin-left: var(--h5p-theme-spacing-xxs);
  display: inline-block;
}

.h5p-theme  .h5p-theme-previous {
  justify-self: flex-start;
  min-width: max-content;
}

.h5p-theme-previous:before {
  font-family: 'h5p-theme';
  content: "\e900";
  margin-right: var(--h5p-theme-spacing-xxs);
  display: inline-block;
}

.h5p-theme-nav-button.h5p-theme-label {
  display: inline-block;
}

.h5p-navigation .h5p-theme-show-results {
  padding: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-l);
}

.h5p-navigation .h5p-theme-show-results:hover {
  padding: var(--h5p-theme-spacing-xs) calc(var(--h5p-theme-spacing-l) - 0.75em);
}
.h5p-theme .h5p-navigation {
  display: grid;
  grid-gap: var(--h5p-theme-spacing-l);
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  justify-items: center;
  container-type: inline-size;
  container-name: h5p-navigation;
  overflow: hidden;
  padding: var(--h5p-theme-spacing-m);
  clear: both;
  max-width: 100%;
  /* Min height is the height of a secondary button */
  min-height: calc(var(--h5p-theme-spacing-xs)*2 + 1.5em + 3px*2);
  background-color: var(--h5p-theme-ui-base);
  border-top: 1px solid var(--h5p-theme-stroke-1);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
}

.h5p-theme .h5p-navigation .h5p-joubelui-progressbar {
  grid-column: 2;
  width: 100%;
  background-color: var(--h5p-theme-contrast-cta-light);
  border: 1px solid var(--h5p-theme-contrast-cta-white);
  border-radius: 8px;
  padding: 5px;
}

/* If smaller than 700px */
@container h5p-navigation (max-width: 700px) {
  .h5p-theme-label {
    display: none;
  }

  .h5p-theme-next:after, .h5p-theme-previous:before {
    margin: 0;
  }

  /* Primary CTA if inside navigation */
  .h5p-navigation .h5p-theme-primary-cta {
    height: var(--h5p-theme-spacing-xl);
    width: var(--h5p-theme-spacing-xl);
    padding: 0 !important;
    text-indent: 0 !important; /* TODO REMOVE IMPORTANT but make sure Finish button looks good in Flashcards and Question set */
  }

  .h5p-navigation .h5p-theme-primary-cta:hover {
    height: var(--h5p-theme-spacing-xl);
    width: var(--h5p-theme-spacing-xl);
    padding: 0;
  }

  .h5p-navigation .h5p-theme-primary-cta span {
    display: none;
  }
  
  .h5p-navigation .h5p-theme-primary-cta:before {
    text-indent: 0;
    position: unset;
    width: 100%;
    opacity: 1;
    transform: translate(0, 0);
  }
  .h5p-navigation .h5p-theme-primary-cta:hover:before {
    text-indent: 0;
    transform: translate(0, 0);
  }

  .h5p-navigation .h5p-theme-secondary-cta:before {
    margin-right: unset;
  }
}

/* PRIMARY CTA (USED FOR VALIDATION BUTTONS) */
.h5p-theme-primary-cta,
.h5p-theme .h5p-theme-primary-cta,
.h5p-content:has(.h5p-theme) .h5p-dialog-ok-button {
  padding: var(--h5p-theme-spacing-xs) calc(var(--h5p-theme-spacing-l));
  background-color: var(--h5p-theme-main-cta-base);
  color: var(--h5p-theme-contrast-cta);
  border-radius: var(--h5p-theme-border-radius-medium);
  font-weight: 600;
  cursor: pointer;
  line-height: 1;
  font-size: var(--h5p-theme-font-size-m);
  transition: all 0.1s linear 0s;
  transition-property: text-indent, padding;
  border: solid 3px var(--h5p-theme-main-cta-base);
}

.h5p-theme-primary-cta:hover,
.h5p-theme .h5p-theme-primary-cta:hover {
  padding: var(--h5p-theme-spacing-xs) calc(var(--h5p-theme-spacing-l) - 0.75em);
  background-color: var(--h5p-theme-main-cta-light);
  border-color: var(--h5p-theme-main-cta-light);
  text-indent: 1.5em;
}

.h5p-theme-primary-cta:active,
.h5p-theme .h5p-theme-primary-cta:active,
.h5p-content:has(.h5p-theme) .h5p-dialog-ok-button:active {
  background-color: var(--h5p-theme-main-cta-dark);
  border-color: var(--h5p-theme-main-cta-dark);
}

.h5p-theme-primary-cta:before {
  display: inline-block;
  position: absolute;
  font-family: 'h5p-theme';
  text-indent: -1.5em;
  opacity: 0;
  transform: translate(10px, 10px);
  transition: all 0.1s linear 0s;
  transition-property: transform, opacity;
  font-weight: normal;
}

.h5p-theme-primary-cta:hover:before {
  opacity: 1;
  transform: translate(0, 0);
}

.h5p-theme-primary-cta.h5p-theme-check:before {
  content: "\e908";
}

.h5p-theme-primary-cta.h5p-theme-book:before {
  content: "\e909";
}

.h5p-theme-primary-cta.h5p-theme-flip:before {
  content: "\e907";
}
.h5p-theme-primary-cta.h5p-theme-reveal-answer:before {
  content: "\e905";
}
.h5p-theme-primary-cta.h5p-theme-continue:before {
  content: "\e901";
}
.h5p-theme-primary-cta.h5p-theme-go-to-start:before {
  content: "\e916";
}

.h5p-theme-show-results:before {
  content: "\e90a";
  font-family: "h5p-theme";
}

/* If the container is smaller than 200px */
@container (max-width: 200px) {
  .h5p-theme-primary-cta:hover {
    text-indent: 0;
    padding: var(--h5p-theme-spacing-s) var(--h5p-theme-spacing-l);
  }

  .h5p-theme-primary-cta span {
    display: none;
  }

  .h5p-theme-primary-cta:before {
    position: unset;
    width: 100%;
    opacity: 1;
    transform: translate(var(--h5p-theme-spacing-s), 0);
  }

  .h5p-theme-primary-cta:hover:before {
    transform: translate(var(--h5p-theme-spacing-s), 0);
  }
}

/* SECONDARY CTA (USED FOR SHOW SOLTUIONS, RETRY AND SIMILAR BUTTONS) */
.h5p-theme-secondary-cta,
.h5p-theme .h5p-theme-secondary-cta {
  background-color: var(--h5p-theme-ui-base);
  color: var(--h5p-theme-main-cta-base);
  border-radius: var(--h5p-theme-border-radius-medium);
  font-weight: 600;
  border: solid 3px var(--h5p-theme-main-cta-base);
  padding: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-s);
  font-size: var(--h5p-theme-font-size-m);
  transition: all 0.1s linear 0s;
  width: fit-content;
  line-height: 1;
}

.h5p-theme-secondary-cta:hover,
.h5p-theme .h5p-theme-secondary-cta:hover {
  background-color: var(--h5p-theme-main-cta-base);
  border-color: var(--h5p-theme-main-cta-base);
  color: var(--h5p-theme-contrast-cta);
  cursor: pointer;
}

.h5p-theme-secondary-cta:active,
.h5p-theme .h5p-theme-secondary-cta:active {
  background-color: var(--h5p-theme-main-cta-dark);
  border-color: var(--h5p-theme-main-cta-dark);
  color: var(--h5p-theme-contrast-cta);
}

.h5p-theme-secondary-cta:before {
  display: inline-block;
  font-family: 'h5p-theme';
  margin-right: var(--h5p-theme-spacing-xxs);
  font-weight: normal;
}

.h5p-theme-secondary-cta.h5p-theme-retry:before {
  content: "\e906";
}
.h5p-theme-secondary-cta.h5p-theme-done:before {
  content: "\e908";
}
.h5p-theme-secondary-cta.h5p-theme-done:download {
  content: "\e911";
}

/* If the container is smaller than 350px */
@container (max-width: 350px) {
  .h5p-theme-secondary-cta:hover {
    text-indent: 0;
    padding: var(--h5p-theme-spacing-s) var(--h5p-theme-spacing-l);
  }

  .h5p-theme-secondary-cta span {
    display: none;
  }

  .h5p-theme-secondary-cta:before {
    position: unset;
    width: 100%;
    margin-right: unset;
    opacity: 1;
    transform: translate(0, 0);
  }

  .h5p-theme-secondary-cta:hover:before {
    transform: translate(0, 0);
  }
}
