/* GENERAL */
.h5p-theme-button {
  --label-display: inline-block;
  padding: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-s);
  border: solid 3px var(--h5p-theme-main-cta-base);
  border-radius: var(--h5p-theme-border-radius-medium);
  font-size: var(--h5p-theme-font-size-m);
  font-weight: 600;
  line-height: 1;
  transition:
    transform 0.1s linear,
    padding 0.1s linear,
    text-indent 0.1s linear,
    background-color 0.1s linear,
    border-color 0.1s linear,
    width 0.1s linear;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.h5p-theme-button:focus-visible {
  outline: 2px ridge var(--h5p-theme-contrast-cta-white);
  border-radius: 4px;
  outline-offset: 2px;
}

.h5p-theme-button:disabled {
  opacity: 0.4;
  cursor: default;
}

.h5p-theme-button .h5p-theme-label {
  display: var(--label-display);
}

.h5p-theme-button.icon-only {
  --label-display: none;
  &::before {
    margin-right: 0;
  }
}

.h5p-theme-button::before,
.h5p-theme-button::after {
  display: inline-block;
  font-family: 'h5p-theme';
  margin-right: var(--h5p-theme-spacing-xxs);
  font-weight: normal;
}

/* PRIMARY CTA (USED FOR VALIDATION BUTTONS) */
.h5p-theme-primary-cta {
  --padding-inline: var(--h5p-theme-spacing-l);
  --icon-position: absolute;
  --icon-opacity: 0;
  --icon-transform: translate(calc(-1 * var(--h5p-theme-spacing-xxs) - var(--h5p-theme-spacing-m) / 2), 10px);
  --hover-text-indent: var(--h5p-theme-spacing-m); 

  padding-inline: var(--padding-inline);
  background-color: var(--h5p-theme-main-cta-base);
  color: var(--h5p-theme-contrast-cta);
  
}

.h5p-theme-primary-cta:hover:not(:disabled) {
  --icon-opacity: 1;
  --icon-transform: translate(calc(-1 * var(--h5p-theme-spacing-xxs) - var(--h5p-theme-spacing-m)), 0);
  --padding-inline: calc(var(--h5p-theme-spacing-l) - var(--h5p-theme-spacing-m)/2);

  background-color: var(--h5p-theme-main-cta-light);
  border-color: var(--h5p-theme-main-cta-light);
  text-indent: var(--hover-text-indent);
}

.h5p-theme-primary-cta::before {
  position: var(--icon-position);
  opacity: var(--icon-opacity);
  transform: var(--icon-transform);
  transition:  transform 0.1s linear, opacity 0.1s linear;
  margin-right: 0;
}

/* Icon only state */
.h5p-theme-primary-cta.icon-only {
  --padding-inline: var(--h5p-theme-spacing-s);
  --icon-position: unset;
  --icon-opacity: 1;
  --icon-transform: translate(0, 0);
  --hover-text-indent: 0;
}

/* Will target Safari only which needs this or makes the whole content shift a bit. Applied selectively to prevent performance issues */
@supports (-webkit-hyphens: none) and (not (-moz-appearance: none)) {
  .h5p-theme-primary-cta::before {
    will-change: transform;
  }
}

/* SECONDARY CTA (USED FOR SHOW SOLUTIONS, RETRY AND SIMILAR BUTTONS) */
.h5p-theme-secondary-cta {
  background-color: var(--h5p-theme-ui-base);
  border-color: var(--h5p-theme-contrast-cta-white);
  color: var(--h5p-theme-contrast-cta-white);
}

.h5p-theme-secondary-cta:hover:not(:disabled) {
  background-color: var(--h5p-theme-contrast-cta-white);
  color: var(--h5p-theme-secondary-contrast-cta-hover);
}

.h5p-theme-secondary-cta:active {
  color: var(--h5p-theme-contrast-cta);
}

.h5p-theme-primary-cta:active,
.h5p-theme-secondary-cta:active {
  background-color: var(--h5p-theme-main-cta-dark);
  border-color: var(--h5p-theme-main-cta-dark);
}

/* NAVIGATION BUTTONS */
.h5p-theme-nav-button {
  border: none;
  background-color: var(--h5p-theme-secondary-cta-base);
  font-size: var(--h5p-theme-font-size-s);
  font-weight: bold;
  color: var(--h5p-theme-secondary-contrast-cta);
  white-space: nowrap;
}

.h5p-theme-nav-button:hover:not(:disabled) {
  background-color: var(--h5p-theme-secondary-cta-light);
}

/* If smaller than 700px */
@container h5p-navigation (max-width: 700px) {
  .h5p-theme-nav-button {
    --label-display: none;
  }

  /* Primary CTA if inside navigation */
  .h5p-navigation .h5p-theme-primary-cta {
    --padding-inline: var(--h5p-theme-spacing-s);
  }

  .h5p-navigation .h5p-theme-primary-cta:hover {
    --padding-inline: var(--h5p-theme-spacing-s);
    --icon-position: unset;
    --icon-opacity: 1;
    --icon-transform: translate(0, 0);
    --hover-text-indent: 0;
  }
}
